{% extends "users/base.html" %}
{% block content %}


<table class="table table-striped">
    
<thead>
    <tr>
        <th scope="col">first name </th>
        <th scope="col"> Last name </th>
        <th scope="col"> Last name </th>
        
    </tr>
</thead>
<tbody>
{% for teacher in teacers %}
<tr>
    <td>{{teacher.first_name}}</td>

    <td>{{teacher.lastname}}</td>

    <td><a class="btn" style="color:blue" href="{% url 'parent_contact' id=teacher.id %}">Contact </a></td>

    

  </tr>
{%endfor%}
</tbody>
</table>
{%endblock%}