{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <h4>Select your game : </h4>
    <br>
    <br>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

      <h6>  Animals memory game </h6><br>
        Click  <button name="animals" style="background: url(/media/games/pelican.svg)" > _____________________________________ </button>
        <br>
        <br>
        <h6>____________________________________________</h6>
        <br>

    <h6> Numbers memory game </h6> <br>
        Click <button name="numbers" style="background: url(/media/games/bird.svg)" > _____________________________________ </button>
    
    </form>
</div>
{%endblock%}