
{% extends "users/rate_base.html" %}
{% block content %}
<style>
    body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
</style>

<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{kid.username}}</h4>
                                <form method="link" action="{% url 'delete_kid' username=kid.username %}">
                                    <button  class="btn btn-primary">Remove</button> 
                                </form>
                                <form method="link" action="{% url 'Change_Kindergarten' username=kid.username %}">
                                    <button  class="btn btn-outline-primary">Change Kindergarten</button> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{fullName}}" readonly >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{kid.email}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Kindergarten</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{kid.garten.name}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teacher</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="{{kid.garten.myTeacher.username}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">Status</h5>
                                <p>Grade Point Average</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{AvgGrade}}%" aria-valuenow="{{AvgGrade}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Watched Lessons</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{AvGLesson}}%" aria-valuenow="{{AvGLesson}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Stories read</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{AvGStory}}%" aria-valuenow="{{AvGStory}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Solved Home Work</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{AvGHW}}%" aria-valuenow="{{AvGHW}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>Ratings</p>
                                <div class="progress" style="height: 5px">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{AvgRates}}%" aria-valuenow="{{AvgRates}}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">Status</h5>
                                <p><b>{{kid.username}}</b> has {{AvgGrade}} Grade Point Average.</p>
                                <p><b>{{kid.username}}</b> has watched {{numLesson}} lessons out of {{numViews}}.</p>
                                <p><b>{{kid.username}}</b> has read {{numStoryViews}} stories out of {{ numStory}}.</p>
                                <p><b>{{kid.username}}</b> has solved {{numgrade}} home work out of {{numHW }}.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">Rate</h5>
                                {% if not rate %}

                                <hp>Rate <b style="color:rgb(233, 66, 0)">{{kid.username}}'s</b> kindergarten :</p>

                                    <div class="row">
                                        <div class="col text-center">
                                            <form class="rate-form" action="" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                                                <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                                                <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                                                <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                                                <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
                                            </form>
                                            <br>
                                            
                                            <div id="confirm-box"></div>
                                        </div>
                                        
                                    </div>
                                    </div>
                                    {% else %}
                                    <p>Your rate for <b style="color:rgb(233, 66, 0)">{{kid.garten.name}}</b> kindergarten : {{rate.score}} &#11088;  </p>
                                {% endif %}                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
