{% extends "users/base.html" %}
{% block content %}
<table class="table table-striped">
    
<thead>
    <tr>
        <th scope="col">Name </th>
        <th scope="col">Age </th>
        <th scope="col">Kindergarten</th>
        <th scope="col">Remove</th>
        <th scope="col">Register to a Kindergarten</th>
        <th scope="col">Trace</th>
    </tr>
</thead>
<tbody>
{% for kid in kids %}
<tr>
    <td>{{kid.first_name}}</td>

    <td>{{kid.age}}</td>

    {% if kid.garten %}
        <td>{{kid.garten.name}}</td>
        {% else %}
        <td>Empty</td>
    {%endif%}
    <td><a href="{% url 'delete_kid' username=kid.username %}" style="color:blue" class="btn">Remove</a></td>
    {% if kid.garten %}
        <td style="color:red">Allready registerd</td>
        <td><a href="{% url 'TraceKid' username=kid.username %}" style="color:blue" class="btn">Trace</a></td>
        {% else %}
        <td><a class="btn" style="color:blue" href="{% url 'Register_To_Kindergarten' username=kid.username %}">Register </a></td>
    {%endif%}

  </tr>
{%endfor%}
</tbody>
</table>
{%endblock%}