
{% extends "users/rate_base.html" %}
{% block content %}
<div class="content-section">

<h3>kid name :{{kid.username}}</h3><br>
<h3>kid age : {{kid.age}}</h3><br>
<h3>kid Kindergarten : {{kid.garten.name}}</h3><br>


<script>
    localStorage.setItem("kid", "{{kid.username}}");
</script>

{% if not rate %}

<h3>Rate <b style="color:rgb(233, 66, 0)">{{kid.username}}'s</b> kindergarten :</h3>

    <div class="row">
        <div class="col text-center">
            <form class="rate-form" action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
            </form>
            <br>
            
            <div id="confirm-box"></div>
        </div>
        
    </div>
    </div>
    {% else %}
    <h3>Your rate for <b style="color:rgb(233, 66, 0)">{{kid.garten.name}}</b> kindergarten : {{rate.score}} &#11088;  </h3>
{% endif %}

<br>

<style>
    body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
</style>

{% endblock content %}
