{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">add new qustion to {{lesson.title}} quiz</legend>
                <input type="hidden" name="quiz_id" value="{{id}}">
                {{ form | linebreaks }}
            add more qustion <input type="checkbox" name="has_next"> 
            </fieldset>
             <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Add</button>
             </div>
        </form>
        
    </div>

{% endblock%}