{% extends "users/base.html" %}
{% block content %}
<div class="content-section">

<table class="table table-striped">
    
<thead>
    <tr>
        <th scope="col">Subject </th>
        <th scope="col">Added at </th>
        <th scope="col">Duration</th>
        <th scope="col">Solve the homework </th>
    </tr>
</thead>
<tbody>
{% for homework,grade in homeworks %}
<tr>
    <td>{{homework.subject}}</td>
    <td>{{homework.created_at}}</td>
    <td>{{homework.duration}} days</td>
    {% if grade > -1 %}
        <td>{{grade}} %</td>
    {% else %}
        <td><a href="{% url 'show_homework_questions_for_kid' HomeWork_Id=homework.id %}" style="color:blue" class="btn">Solve </a></td>
    {%endif%}
    
</tr>
{%endfor%}
</tbody>
</table>
</div>
{%endblock%}