{% extends "users/base.html" %}
{% block content %}

<div class="content-section">

<div class="directory-info-row">
        {% for music in musics %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="thumb media-object" src="/media/games/music-note.svg" alt="" />
                            </a>
                            <div class="media-body">
                                <h4>{{music.title}}</h4>
                                <audio class="button" src="{{music.music_file.url}}" controls></audio>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
    {%endfor%}
    </div>
</div>
{%endblock%}