{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
<small>Lessons</small>
<br>
<a href="{% url 'add_lesson' %}" style="color:blue" class="btn">&#10133; add new lesson</a>

<div class="directory-info-row">
        
    {% for lesson in lessons %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="thumb media-object" src="/media/games/lesson.svg" alt="" />
                            </a>
                            <div class="media-body">
                                <h4>{{lesson.title}}</h4>
                                <a href="{% url 'lesson_info' id=lesson.id %}" class="button">Show info</a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
    {%endfor%}
    </div>
</div>
<br>
<div class="content-section">
<small>Stories</small>
<br>
<a href="{% url 'add_story' %}" style="color:blue" class="btn">&#10133; add new story</a>

 <div class="directory-info-row">
        {% for story in stories %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="thumb media-object" src="/media/games/bedtime.svg" alt="" />
                            </a>
                            <div class="media-body">
                                <h4>{{story.title}}</h4>
                                <a class="button" href="{% url 'story_info' id=story.id %}" >Show info</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
    {%endfor%}
    </div>
</div>
<div class="content-section">
<small>Music</small>
<br>
<a href="{% url 'add_music' %}" style="color:blue" class="btn">&#10133; add new Music</a>

<div class="directory-info-row">
        {% for music in musics %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="thumb media-object" src="/media/games/music-note.svg" alt="" />
                            </a>
                            <div class="media-body">
                                <h4>{{music.title}}</h4>
                                <audio class="button" src="{{music.music_file.url}}" controls></audio>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
    {%endfor%}
    </div>
</div>
{%endblock%}

