{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
<a href="{% url 'add_lesson' %}" style="color:blue" class="btn">add new lesson</a>

<table class="table table-striped">
    
<thead>
    <tr>
        <th scope="col">lesson title </th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
{% for lesson in lessons %}
<tr>
    <td>{{lesson.title}}</td>

    <td><a href="{% url 'lesson_info' id=lesson.id %}" style="color:blue" class="btn">Show info</a></td>

   

  </tr>
{%endfor%}
</tbody>
</table>
</div>
{%endblock%}